@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/Cairo/Cairo-VariableFont_slnt,wght.ttf')  format('truetype');
}

.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    height: auto;
    width: 10vw;
    padding-right: 4vw;
  }
}

.App-Nav{
  display: flex;
  justify-content: left;
  /* max-width: 50vw; */
  /* margin: auto; */
  /* padding: 10px 0; */
}

.App-Nav-items{
  display:flex; 
  flex-direction:row;
  justify-content: space-around;
  width: 30vw;
  /* margin-right: 4vw; */
  margin-left: 4vw;
}

span {
  width: 75px;
  height: 75px;
  /* background: black; */
}

.App-header {
  height: 11vh;
  border-bottom-width: 2px;
  border-bottom-color: rgb(238, 238, 238);
  border-bottom-style: solid;
  display:flex;
  /* flex-direction: row; */
  align-items:center; /* align-items:flex-end; for right alignment */
  justify-content:  flex-start;
  font-size: calc(8px + 2vmin);
  /* padding-left: 8vw; */
  font-family: 'Cairo';
  margin: 0 10vw;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


 /* unvisited link */
a:link {
  color: black;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: black;
  text-decoration: none;

}

/* mouse over link */
/* a:hover {
  color: hotpink;
} */

/* selected link */
/* a:active {
  color: blue;
}  */