@font-face {
  font-family: 'Cairo';
  font-style: normal;
  src: url('./assets/fonts/Cairo/Cairo-VariableFont_slnt,wght.ttf')  format('truetype');
}

.App {
  text-align: center;
  color: rgb(43, 43, 43);
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    height: auto;
    width: 10vw;
    padding-right: 4vw;
  }
}

.App-Nav{
   height: 11vh;
  display:flex;
  /* flex-direction: row; */
  align-items:center; /* align-items:flex-end; for right alignment */
  justify-content:  flex-start;
  font-size: calc(7px + 2vmin);
  font-weight: 700;
  margin: 0 10vw;
}

.App-Nav-items{
  display:flex; 
  flex-direction:row;
  justify-content: space-around;
  width: 30vw;
  /* margin-right: 4vw; */
  margin-left: 4vw;
}

.App-body {
  display:flex;
  justify-content: center;
  font-family: "Cairo";
}

.Grey-font{
  color: #a7a7a7;
  font-size: calc(3px + 2vmin);
  font-weight: 600;
}

.Black-font{
  font-weight: 700;
  font-size: calc(7px + 2vmin);
}

.Green-font{
  font-weight: 700;
  color: green;
  font-size: calc(7px + 2vmin);
}

.Red-font{
  color: red;
  font-weight: 700;
  font-size: calc(7px + 2vmin);
}

.Details{
  display:flex; 
  justify-content: space-between; 
  width:75vw;
  margin-top: 8vh;
  padding: 3vh;
  border-color: rgb(243, 243, 243);
  border-style: solid;
  border-radius: 1rem;
  border-width: 2px;
}

.App-header {
  border-bottom-width: 2px;
  border-bottom-color: rgb(243, 243, 243);
  border-bottom-style: solid;
  font-family: 'Cairo';
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


 /* unvisited link */
a:link {
  color: rgb(43, 43, 43);
  text-decoration: none;
}

/* visited link */
a:visited {
  color: rgb(43, 43, 43);
  text-decoration: none;

}

/* mouse over link */
/* a:hover {
  color: hotpink;
} */

/* selected link */
/* a:active {
  color: blue;
}  */